// Nav
.Nav {
  height: $navHeight;
  position: fixed;
  background: $primary;
  top: 0;
  left: 0;
  padding: 0 80px;
  z-index: 5;
  box-shadow: 0px 1px 1px 0px #ffffffbf;

  &.opaque {
    background: rgba(0, 0, 0, 0.5);
  }

  .header-logo-container {
    margin: 0 24px 0 0;
  }

  .nav-links {
    height: 100%;

    .nav-link {
      height: 100%;
      position: relative;
      margin: 0 24px 0 0;
      cursor: pointer;

      a,
      span {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25px;
        color: $gray;
        font-size: 14px;
      }

      & > a,
      & > span {
        padding: 0 24px;
      }

      &:hover ul {
        opacity: 1;
        pointer-events: all;
      }

      ul {
        width: 250px;
        height: fit-content;
        position: absolute;
        flex-direction: column;
        background-color: $primary;
        padding: 6px 24px;
        left: 0;
        top: $navHeight;
        opacity: 0;
        z-index: 2;
        pointer-events: none;
        transition: opacity 0.2s ease;
        cursor: default;

        &:hover {
          opacity: 1;
          pointer-events: all;
        }

        li {
          padding: 10px 0;

          a:hover {
            color: $secondary;
          }
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 6.5px;
        height: 6.5px;
        border-left: 2px solid $secondary;
        border-bottom: 2px solid $secondary;
        transform: rotate(-45deg);
        transition: transform 0.35s ease;
        right: 5px;
      }

      &:nth-child(1)::after {
        display: none;
      }

      &:hover {
        &::after {
          transform: rotate(-225deg);
        }
      }
    }
  }

  .header-btns-container {
    [class*="btn"] {
      color: $secondary;
      font-size: 14px;
      border-radius: 4rem;
    }

    .signup-btn {
      background-color: $opaqueBlue;
      padding: 8px 14px;
      margin: 0 20px 0 0;
      box-shadow: inset 0 0 0 1px $blue;
      font-weight: bold;
    }

    .login-btn {
      background-color: transparent;
      color: $gray;
      font-weight: 500;
    }
  }

  .mobile-burger {
    position: absolute;
    height: 24px;
    width: 30px;
    right: 16px;
    top: calc((100% - 24px) / 2);
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 1px;
      background: $secondary;
      transition: all 0.35s ease;

      &:last-child {
        margin: 0;
      }
    }
  }

  &.open {
    .NavMobile {
      opacity: 1;
      pointer-events: all;

      .nav-mobile-bg {
        top: 0;
        background: $primary;
      }
    }

    .mobile-burger {
      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(1) {
        margin: 0;
        transform: translateY(11.5px) rotateZ(45deg);
        transform-origin: center;
      }

      span:nth-child(3) {
        margin: 0;
        transform: translateY(-11.5px) rotateZ(-45deg);
        transform-origin: center;
      }
    }
  }

  .NavMobile {
    position: fixed;
    top: $navHeight;
    left: 0;
    height: calc(100vh - $navHeight);
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;

    .nav-mobile-bg {
      position: absolute;
      top: -100vh;
      left: 0;
      background: transparent;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: -1;
      transition: all 0.5s ease;
    }

    .nav-mobile-content {
      position: fixed;
      height: 100%;
      color: $gray;
      overflow-y: auto;
      padding: 32px 36px;

      ul {
        li {
          width: 100%;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 0.25px;
          border-bottom: 1px solid $gray;

          &:last-child {
            margin: 0 0 48px 0;
          }

          &.open {
            & > span.contain {
              color: $secondary;

              &::after {
                transform: rotate(-225deg);
              }
            }
          }

          & > span,
          & > a {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            color: $gray;
            cursor: pointer;
            padding: 32px 16px;
            transition: color 0.35s ease;

            &.contain:after {
              content: "";
              display: block;
              width: 6.5px;
              height: 6.5px;
              border-left: 2px solid $gray;
              border-bottom: 2px solid $gray;
              transform: rotate(-45deg);
              transition: transform 0.35s ease;
              right: 5px;
            }

            &:hover {
              color: $secondary;
            }
          }

          .sub-links {
            padding: 0 0 0 32px;

            a {
              color: $secondary;
              cursor: pointer;
              padding: 6px 0;
              margin: 0 0 12px 0;

              &:last-child {
                margin: 0 0 26px 0;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 640px) {
      .nav-mobile-content {
        padding: 32px 16px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .header-logo-container {
      margin: 0;
    }
  }
}
