$primary: #000000;
$secondary: #ffffff;
$blue: #0768af;
$opaqueBlue: rgba(7, 104, 175, 0.5);
$veryOpaqueBlue: rgba(7, 104, 175, 0.2);
$opaqueSecondary: rgba(255, 255, 255, 0.9);
$gray: #b3b6b7;
$darkGray: #5a5b5c;
$navHeight: 68px;
$verticalPadding: 72px;
$horizontalPaddding: 36px;
