@use "sass:list";

$text-sizes: (
  "sm": (
    14,
    13,
    13,
  ),
  "base": (
    16,
    15,
    14,
  ),
  "lg": (
    18,
    16,
    16,
  ),
  "xl": (
    22,
    20,
    19,
  ),
  "2xl": (
    24,
    22,
    20,
  ),
  "3xl": (
    32,
    28,
    26,
  ),
  "4xl": (
    34,
    32,
    30,
  ),
);

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 2160px;
  padding: 72px 36px;
  margin: 0 auto;
}

// text
@each $size, $value in $text-sizes {
  .text-#{$size} {
    font-size: #{list.nth($value, 1)}px;

    @media screen and (max-width: 768px) {
      font-size: #{list.nth($value, 2)}px;
    }

    @media screen and (max-width: 640px) {
      font-size: #{list.nth($value, 3)}px;
    }
  }
}

@media screen and (max-width: 768px) {
  .App .container {
    padding: 56px 24px;
  }
}

@media screen and (max-width: 640px) {
  .App .container {
    padding: 56px 16px;
  }
}
